<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @snippet.title %>
</p>

<p>
  <b>Lang:</b>
  <%= @snippet.language.name %>
</p>

<p>
  
  <%= raw Pygments.highlight(@snippet.code, lexer: @snippet.language.alias, options: {linenostart: 1, linenos: 'inline'}) %>
</p>


<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
